.container{
    width: 80vmin;
    height: 80vmin;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    position: relative;
}


.tiles {
    color: white;
}

.tile {
    width: 10vmin;
    height: 10vmin;
    border: 0.1px solid #cac7c7;
    /* display: inline-block; */
    position: absolute;
}

.tile.highlight {
    background-color: #efe0ae;
    /* cursor: pointer; */
}

.tile.enable {
    cursor: pointer;
}

.tile-white{
    background-color: #fff;
}

.tile-black {
    background-color: #dcdcdc;
}

.token{
    width: 10vmin;
    height: 10vmin;
    position: absolute;
}

.token.active {
    cursor: pointer;
}

.token > .token-inner {
    width: 6vmin;
    height: 6vmin;
    margin: 1vmin;

    border-style: solid;
    border-radius: 10vmin;
    border-width: 1vmin;
    /* background-color: yellow;
    border-color: red; */

    z-index: 1000;
    position: absolute;
}