/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body, div{
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

html, body { height: 100%; }
body { margin: 0;} 
